flow.txt
[{"id":"263f8c55.521e24","type":"tab","label":"CPU Status","disabled":false,"info":""},{"id":"22976d62.011c02","type":"ui_gauge","z":"263f8c55.521e24","name":"","group":"dcaa2656.61bd18","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":746,"y":88,"wires":[]},{"id":"3b641584.ab765a","type":"exec","z":"263f8c55.521e24","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"RPi Temp.","x":358,"y":102,"wires":[["8b535c1f.79c5c"],[],[]]},{"id":"bfb5874c.ce3128","type":"inject","z":"263f8c55.521e24","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":151.5,"y":100.25,"wires":[["3b641584.ab765a","d6c0a456.ec1c98"]]},{"id":"8b535c1f.79c5c","type":"function","z":"263f8c55.521e24","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":89,"wires":[["22976d62.011c02","87136915.147578"]]},{"id":"d4bd95c0.e1ebe8","type":"ui_button","z":"263f8c55.521e24","name":"","group":"2c707843.c51be8","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":132,"y":230,"wires":[["9a198b8c.54c198"]]},{"id":"9a198b8c.54c198","type":"exec","z":"263f8c55.521e24","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":348,"y":231,"wires":[[],[],[]]},{"id":"3beffeeb.5b9fa2","type":"ui_button","z":"263f8c55.521e24","name":"","group":"2c707843.c51be8","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":135.5,"y":294.25,"wires":[["36b1552f.58301a"]]},{"id":"36b1552f.58301a","type":"exec","z":"263f8c55.521e24","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":346.5,"y":297.25,"wires":[[],[],[]]},{"id":"87136915.147578","type":"ui_chart","z":"263f8c55.521e24","name":"","group":"dcaa2656.61bd18","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":706,"y":128,"wires":[[]]},{"id":"f942dbb6.b3e638","type":"ui_gauge","z":"263f8c55.521e24","name":"","group":"dcc34058.56091","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Clock","label":"MHz","format":"{{value}}","min":"600","max":"1400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":725,"y":169,"wires":[]},{"id":"5f1c1304.c07f7c","type":"ui_button","z":"263f8c55.521e24","name":"","group":"2c707843.c51be8","order":3,"width":0,"height":0,"passthru":false,"label":"Start Benchmark","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":164,"y":362,"wires":[["ceb519ef.5f3198"]]},{"id":"ceb519ef.5f3198","type":"exec","z":"263f8c55.521e24","command":"sudo sysbench --test=cpu --cpu-max-prime=20000 run","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Start Benchmark","x":375,"y":365,"wires":[[],[],[]]},{"id":"771d608f.8c877","type":"ui_button","z":"263f8c55.521e24","name":"","group":"2c707843.c51be8","order":3,"width":0,"height":0,"passthru":false,"label":"Stop Benchmark","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":165,"y":440,"wires":[["a741e4c1.22c158"]]},{"id":"a741e4c1.22c158","type":"exec","z":"263f8c55.521e24","command":"sudo killall sysbench","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Stop Benchmark","x":374,"y":433,"wires":[[],[],[]]},{"id":"21a92443.e0546c","type":"rpi-neopixels","z":"263f8c55.521e24","name":"Pixel","pixels":"6","bgnd":"0,0,0","fgnd":"128,0,0","wipe":"40","mode":"pcent","rgb":"rgb","brightness":"100","gamma":true,"x":713.5,"y":267,"wires":[]},{"id":"d6c0a456.ec1c98","type":"cpu","z":"263f8c55.521e24","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":false,"x":359.5,"y":167,"wires":[["1bab8dfd.ac5472","1b88d5cc.2fe66a"]]},{"id":"1bab8dfd.ac5472","type":"function","z":"263f8c55.521e24","name":"","func":"str = msg.payload\nmsg.payload = (str[0].usage+str[1].usage+str[2].usage+str[3].usage)/4;\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":215,"wires":[["dcca99cf.69aad8","21a92443.e0546c"]]},{"id":"1b88d5cc.2fe66a","type":"function","z":"263f8c55.521e24","name":"","func":"str = msg.payload\nmsg.payload = (str[0].speed+str[1].speed+str[2].speed+str[3].speed)/4;\nreturn msg;","outputs":1,"noerr":0,"x":552,"y":169,"wires":[["f942dbb6.b3e638"]]},{"id":"dcca99cf.69aad8","type":"ui_gauge","z":"263f8c55.521e24","name":"","group":"dcc34058.56091","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":727,"y":216,"wires":[]},{"id":"dcaa2656.61bd18","type":"ui_group","z":"","name":"Col1","tab":"d800689d.b3ed18","order":1,"disp":false,"width":"6"},{"id":"2c707843.c51be8","type":"ui_group","z":"","name":"Actions","tab":"d800689d.b3ed18","order":4,"disp":true,"width":"6"},{"id":"dcc34058.56091","type":"ui_group","z":"","name":"Col2","tab":"d800689d.b3ed18","order":2,"disp":false,"width":"6"},{"id":"d800689d.b3ed18","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1}]
